[submodule ".devcontainer"]
	path = .devcontainer
	url = https://code.stephenwuebker.com/stephenwuebker/devcontainer-hugo
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://code.stephenwuebker.com/stephenwuebker/Mainroad
